*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #0C1733;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem {
    width: 20%;
    height: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 20px;     
}
.edutech-titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: inline-block;
    margin: 0 20px;
}

.imagem-titulo {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: inline-block;
    margin: 0 20px;
}
