*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #0C1733;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem {
    width: 30%;
    height: 30%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 20px;     
}