*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: #799CF8;
    color: #ffffff;
}

.cabecalho-imagem {
    width: 10%;
    height: 10%;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
}

.cabecalho-lista-item {
    display: inline-block;     
}